/* STYLING TITLECARDS */
.titlecards {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 0 0px 20px 60px;

  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.titlecards-title {
  font-size: 1.4vw;
}

.titlecards-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  padding-right: 10px;
}

.titlecards-container::-webkit-scrollbar {
  display: none;
}

.titlecards-container {
  scrollbar-width: none;
}

.titlecards-container li {
  list-style: none;
  position: relative;
}

.titlecards-card {
  text-decoration: none;
}

.card-img {
  width: 15vw;
}

.titlecards-card p {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 1vw;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1400px) {
  .card-img {
    width: 18vw;
  }
}

@media screen and (max-width: 1200px) {
  .titlecards {
    padding-left: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .card-img {
    width: 22vw;
  }

  .titlecards {
    bottom: -10%;
  }
}

@media screen and (max-width: 885px) {
  .titlecards {
    padding-left: 30px;
    gap: 10px;
  }

  .titlecards-title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .card-img {
    width: 30vw;
  }

  .titlecards {
    bottom: -20%;
  }
}

@media screen and (max-width: 500px) {
  .titlecards {
    padding-left: 15px;
    padding-bottom: 0;
    bottom: -30%;
    gap: 10px;
  }

  .titlecards-container {
    gap: 5px;
    padding-right: 10px;
  }

  .card-img {
    width: 43vw;
  }

  .titlecards-card p {
    font-size: 3vw;
  }
}

@media screen and (max-height: 500px) {
  .titlecards {
    padding-left: 30px;
    padding-bottom: 0;
    bottom: -20%;
    gap: 10px;
  }
}
