/* STYLING TITLECARDS */
.titlecards {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 0 0px 20px 60px;
  max-width: 100%;
  margin-bottom: 1%;
}

.titlecards-title {
  font-size: 1.4vw;
}

.titlecards-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  padding-right: 10px;
}

.titlecards-container::-webkit-scrollbar {
  display: none;
}

.titlecards-container {
  scrollbar-width: none;
}

.titlecards-container li {
  list-style: none;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.titlecards-container li:hover {
  transform: scale(0.9);
}

.titlecards-card {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.card-img {
  width: 15vw;
  border-radius: 8px;
}

.titlecards-card p {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  overflow: hidden;
  font-size: 1vw;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1400px) {
  .card-img {
    width: 18vw;
  }
}

@media screen and (max-width: 1200px) {
  .titlecards {
    padding-left: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .card-img {
    width: 22vw;
  }
}

@media screen and (max-width: 885px) {
  .titlecards {
    padding-left: 30px;
    gap: 10px;
  }

  .titlecards-title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .card-img {
    width: 30vw;
  }
}

@media screen and (max-width: 500px) {
  .titlecards {
    padding-left: 15px;
    padding-bottom: 0;
    gap: 10px;
    margin-bottom: 5%;
  }

  .titlecards-container {
    gap: 5px;
    padding-right: 10px;
  }

  .card-img {
    width: 43vw;
  }

  .titlecards-card p {
    font-size: 3vw;
  }
}

@media screen and (max-height: 500px) {
  .titlecards {
    padding-left: 30px;
    padding-bottom: 0;
    gap: 10px;
  }
}
