/* STYLING PLAYER PAGE */
.player {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.player-goback {
  width: 50px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.player-trailer {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.player-info_container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.player-info {
  font-size: 1rem;
}
